<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Smart City.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FD4F6342E0F822300AE7944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD4F6442E0F822500AE7944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD4F64E2E0F822500AE7944</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
